{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }} list{% endblock title %}
{% block content %}
<table>
    <tr>
      <th>{% trans "Tracks"|capfirst %}</th>      
    </tr>
    {% for track in track_list %}
        <tr>
            <td><a href="{% url "track_detail" track.pk %}">{{ track.name }}</a></td>      
        </tr> 
        {% empty %}
        <tr>
            <td>{% trans "No tracks Found"|capfirst %}</td>
        </tr> 
    {% endfor %}  
</table>
{% endblock content %}